@*{
    ViewBag.Title = "Index";
}
@Html.Raw(User.Identity.Name);
@Html.Raw(User.Identity.IsAuthenticated.ToString());
@if (Membership.IsInRole("Moderator"))
{
    @Html.Raw("Moderator");
}
else
{
    @Html.Raw("Nope");
}
    <h2>Index</h2>

*@
    <div class="container-fluid">
        <div class="content-block">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci placeat odit voluptatem numquam ratione earum nostrum repellendus provident tempore assumenda qui enim quae necessitatibus, aspernatur quisquam dolorum, est neque veniam?
                        Accusantium, quibusdam hic ea, omnis eveniet dolor a ad blanditiis, possimus illum architecto adipisci sint enim maiores ducimus nemo quaerat?
                    </p>
                </div>
            </div>
        </div>
    </div>