/*@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fromLeft {
  from {
    left: -80px; }
  to {
    left: 0; } }
@-moz-keyframes fromLeft {
  from {
    left: -80px; }
  to {
    left: 0; } }
@-webkit-keyframes fromLeft {
  from {
    left: -80px; }
  to {
    left: 0; } }
@-o-keyframes fromLeft {
  from {
    left: -80px; }
  to {
    left: 0; } }
@keyframes fromTop {
  from {
    top: -80px; }
  to {
    top: 0; } }
@-moz-keyframes fromTop {
  from {
    top: -80px; }
  to {
    top: 0; } }
@-webkit-keyframes fromTop {
  from {
    top: -80px; }
  to {
    top: 0; } }
@-o-keyframes fromTop {
  from {
    top: -80px; }
  to {
    top: 0; } }*/
@media (max-width: 767px) {
  .navbar-brand {
    display: none; }

  .show-resp {
    display: inline-flex; }

  .start-left {
    float: left; }

  .start-right {
    float: right; } }
@media (min-width: 768px) {
  .navbar-brand {
    display: inline-flex; }

  .show-resp {
    display: none; }

  .start-left {
    float: left; }

  .start-right {
    float: right; } }
@media (min-width: 768px) and (max-width: 922px) {
  .show-md {
    font-size: 10px !important; } }
/* za telefon odraditi horizontalni menu
@media (max-width:400px) {
    ul#nav-lava {
        width: 100%;
        height: 70px;
        top: 50px;
        line-height: 0;
    }
}
*/
hr{
    margin-bottom:5px;
    margin-top:5px;
}
.middle-pos {
  box-sizing: border-box;
  padding: 15px 0;
  vertical-align: middle; }

body {
  background-color: #EEEEEE;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 16px;
  text-align: justify; }

.content-block {
    margin: 80px 30px 20px 100px;
}

.dropbtn-top {
  background-color: #F0C06C;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none; }
  .dropbtn-top:hover {
    background-color: #FBD38E; }
  .dropbtn-top:focus {
    background-color: #FBD38E; }

.dropbtn-lite {
  padding-top:8px;
  background-color: #293541;
  border: none;
  color: #fff;
  width: 70px;
  height: 53px;
  text-align: center;
  text-decoration: none; }
  .dropbtn-lite:hover {
    background-color: #48637E; }
  .dropbtn-lite:focus {
    background-color: #48637E;
    outline: none; }

.dropdown-lite {
  position: relative;
  display: inline-block; }
  .dropdown-lite:hover {
    background-color: #fff; }

.dropdown-content-lite {
  display: none;
  position: absolute;
  background-color: #EEEEEE;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content-lite a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block; }

li .dropdown-content-lite a {
  line-height: 26.5px !important; }
li .dropdown-content-lite a:hover {
  -webkit-animation: fadein 1s ease-in-out;
  -moz-animation: fadein 1s ease-in-out;
  -o-animation: fadein 1s ease-in-out;
  animation: fadein 1s ease-in-out;
}

.show-lite {
  display: block; }

.active-btn {
  background-color: #48637E; }

.search-bar .form-control {
  border-radius: 30px;
  border-color: #293541; }
.search-bar .btn {
  background-color: #293541;
  border-color: #293541;
  color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px; }

.content-dopdown {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }
  .content-dopdown .dropdown .btn {
    background: none;
    border: none; }
  .content-dopdown .dropdown .btn:active {
    border: none; }
.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.main-nav {
  background-color: #F0C06C;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  cursor:default;
  -webkit-animation: fromTop 1s ease;
  -moz-animation: fromTop 1s ease;
  -o-animation: fromTop 1s ease;
  animation: fromTop 1s ease;
}
.navbar-brand {
    padding: 5px 15px;
}
.main-nav .navbar-brand {
    font-size: 14px;
    line-height: 40px;
    color: #293541;
}
.main-nav .navbar-nav {
    color: #293541;
}
.main-nav .navbar-nav .open a:focus {
    color: #fff;
    background-color: #FBD38E; }
.main-nav .navbar-nav li {
    color: #293541; }
    .main-nav .navbar-nav li a {
        color: #293541;
    }
.main-nav .navbar-nav a:focus {
    background-color: #FBD38E; }

.logout-button {
    display:block;
    text-align: center;
    padding: 15px;
}
.logout-button:hover {
    text-decoration: none;
    color: white !important;
}
#nav-lava {
  list-style: none outside none;
  background-color: #293541;
  font-size: 12px;
  height: 100%;
  padding: 60px 0 0 0;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-animation: fromLeft 1s ease;
  -moz-animation: fromLeft 1s ease;
  -o-animation: fromLeft 1s ease;
  animation: fromLeft 1s ease;

}
  #nav-lava li {
    float: left;
    position: relative; }
    #nav-lava li a {
      line-height: 53px;
      width: 70px;
      height: 53px;
      color: #000;
      display: block;
      padding: auto;
      text-decoration: none;
      text-align: center; }
    #nav-lava li a:hover {
      color: #fff;
      background-color: #48637E;
      outline: 0 none; }
    #nav-lava li:nth-of-type(1):hover ~ #lavalamp {
      top: 60px; }
    #nav-lava li:nth-of-type(2):hover ~ #lavalamp {
      top: 113px; }
    #nav-lava li:nth-of-type(3):hover ~ #lavalamp {
      top: 166px; }
    #nav-lava li:nth-of-type(4):hover ~ #lavalamp {
      top: 221px; }
    #nav-lava li:nth-of-type(5):hover ~ #lavalamp {
      top: 276px; }
  #nav-lava a:focus {
    outline: 0 none; }
  #nav-lava a:hover {
    outline: 0 none; }
  #nav-lava a:active {
    outline: 0 none; }

#lavalamp {
  background: url("../Content/Img/lavalamp.png") no-repeat scroll 0 0 transparent;
  height: 53px;
  position: fixed;
  left: 51px;
  top: 60px;
  width: 21px;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: fadein 3s ease-in-out;
  -moz-animation: fadein 3s ease-in-out;
  -o-animation: fadein 3s ease-in-out;
  animation: fadein 3s ease-in-out;}
  #lavalamp:hover {
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-duration: 2s; }

/* - */
.main-form {
    color: #293541;
    width: 400px;
    display: table;
    min-height: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-style: solid;
    border-width: 10px;
    background-color: #f7f7f7;
    border-color: #ccc;
}
.main-header {
    display: inline;
    font-size: 30px;
}
.main-form input[type="text"], .main-form input[type="email"], .main-form input[type="password"] {
    margin: 5px;
    padding: 10px;
    width: 97%;
}
.main-remember{
    width:100%;
    text-align:center;
}
.main-remember label{
    margin-top:2px;
}
.main-form input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.main-error {
    display: table;
    left: 335px;
    margin-top: -49px;
    background-color: #00b0d9;
    cursor: default;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    z-index: 99999;
}

.main-error:before {
    content: "";
    display: block;
    width: 0px;
    position: absolute;
    left: -20px;
    border-style: solid;
    border-width: 0px 20px 20px 0;
    border-color: transparent #00b0d9 transparent transparent;
}

.field-validation-valid {
    display: none;
}

.main-filter {
    width: 100%;
    height: 50px;
    vertical-align: middle;
    line-height: 30px;
}

.main-search-button {
    height:30px;
    width: 30px;
    line-height:30px;
    color:white;
    border:0;
    background-color: #293541;
}

.main-filter input[type="text"] {
    height: 30px;
    border-width: 2px;
    border-right-width:0;
    border-color: #293541;
    border-style:solid;
    padding-left:10px;
    width:200px;
}

.main-filter-option {
    margin-right: 40px;
    color: #293541;
    height: 50px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.nomargin{
    margin:0;
    padding:0;
}
.tooltip-inner{
    background-color: #293541;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #293541;
}
.zmdi {
    vertical-align: middle;
}

.container-fluid {
    font-weight: bold;
}

.main-table-container {
    display: table;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #293541;
    border-collapse: collapse;
}

.main-table-header {
    width: 100%;
    display: table-row;
    height: 50px;
    line-height: 50px;
    border-width: 2px;
    border-bottom-width:0;
    border-style: solid;
    border-color: #293541;
    background-color: #48637e;
    color:white;
}
.main-table-header div{
    display:table-cell;
    padding-left:20px;
}

.main-table-row {
    width: 100%;
    display: table-row;
    height: 50px;
    line-height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #293541;
    background-color: #f7f7f7;
    color: #293541;
    cursor:default;
    transition:background-color 0.3s;
}
.main-table-row:hover {
    background-color: #f0c06c;
}
    .main-table-row div {
    display: table-cell;
    padding-left: 20px;
    border: 0;
    border-right-width: 1px;
    border-style: solid;
    border-color: #293541;
}
.main-table-row div:last-child{
    border-right-width:0;
}

.details-coll{
    width:10% !important;
}

.main-details-info {
    margin-top: 20px;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: #48637E;
    color: white;
    text-transform: uppercase;
    cursor: default;
}
.main-details-info div{
    margin-left:40px;
    float:left;
}
.main-grades-row {
    width: 100%;
    line-height: 40px;
    background-color: white;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-top:0;
    cursor: default;
    transition:background-color 0.3s;
}
.main-grades-row:hover {
    background-color: #e4e4e4;
}
.main-back{
    float:right !important;
    transition:background-color 0.3s;
    width:70px;
    text-align:center;
    cursor:pointer;
    color:white;
}
.main-back:hover {
    background-color: rgba(255,255,255,0.3);
}
.main-grades-subject{
    float:left;
    margin-left:20px;
}
.main-grades-grade{
    float:right;
    margin-right:50px;
}
.main-grades-collapse{
    float:right;
    width:70px;
    text-align:center;
    cursor:pointer;
}
.main-grades-collapse:hover {
    color: #48637E;
}
.main-grades-more {
    display:none;
    width: 100%;
    height: 100px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-top: 0;
    border-bottom-width: 3px;
    background-color: #e4e4e4;
}