@model Gradebook.PresentationLayer.WebApplication.Models.BasicModels.FieldModel
@using Gradebook.BusinessLogicLayer.Interfaces
@using Gradebook.BusinessLogicLayer.Managers


@using (Html.BeginForm("AddField", "Acp", FormMethod.Post, new { @class = "main-form-row" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div></div>
    <div class="main-form-input">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="details-coll">
        <button type="submit"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i></button>
    </div>
}